<ul>
  <li routerLinkActive="selected"><a routerLink="/first">First</a></li>
  <li><a routerLink="/binding" routerLinkActive="selected">Binding</a></li>
  <li><a routerLink="/pipes" routerLinkActive="selected">Pipes</a></li>
  <li><a routerLink="/galeria" routerLinkActive="selected">Galería</a></li>
  <li><a routerLink="/crud/uncompomente">Crud usuarios</a></li>
  <li><a routerLink="/crud/varioscompomente">Crud 2</a></li>
  <li><a routerLink="/trv">Template Reference Variables</a></li>
  <li><a routerLink="/forms/template/3">Formulario Template-Driven</a></li>
  <li><a routerLink="/forms/model/3">Formulario Model-Driven (Reactivos)</a></li>
  <li><a routerLink="/observables">Programación Reactiva (Observables)</a></li>


</ul>
